menu "StudioPieters"

      config ESP_LED_GPIO
              int "Set the GPIO for the LED"
              default 23
              help
                  The GPIO number the LED is connected to.

      config ESP_BUTTON_GPIO
              int "Button GPIO"
              default 32
              help
                  GPIO van de knop (actief laag als je button_config_default(button_active_low) gebruikt).

      config ESP_RELAY_OPEN_GPIO
              int "Button GPIO"
              default 16
              help
                  GPIO van de knop (actief laag als je button_config_default(button_active_low) gebruikt).

      config ESP_RELAY_CLOSE_GPIO
              int "Button GPIO"
              default 17
              help
                  GPIO van de knop (actief laag als je button_config_default(button_active_low) gebruikt).

      config ESP_BUTTON_UP_GPIO
              int "Button GPIO"
              default 32
              help
                  GPIO van de knop (actief laag als je button_config_default(button_active_low) gebruikt).

      config ESP_BUTTON_STOP_GPIO
              int "Button GPIO"
              default 33
              help
                  GPIO van de knop (actief laag als je button_config_default(button_active_low) gebruikt).

      config ESP_BUTTON_DOWN_GPIO
              int "Button GPIO"
              default 27
              help
                  GPIO van de knop (actief laag als je button_config_default(button_active_low) gebruikt).

      config ESP_SETUP_CODE
              string "HomeKit Setup Code"
              default "582-94-633"
              help
                  If you want to change the HomeKit Setup Code, you can do that here (Note:  you need to make a new QR-CODE To make it work)

      config ESP_SETUP_ID
              string "HomeKit Setup ID"
              default "7MX2"
              help
                   If you want to change the HomeKit Setup ID, you can do that here (Note: you need to make a new QR-CODE To make it work)

endmenu
